.card {
  margin-top: 3rem;
  line-height: 1.5;
}

.card-img-container {
  display: flex;
}

.card-img-container img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card-detail-container {
  background-color: white;
  padding: 1rem;
  border-radius: 0 0 10px 10px;
}

.card-detail-container p {
  margin-top: 1rem;
}

.card-detail-container svg {
  width: 2rem;
  cursor: pointer;
}

.card-detail-container span {
  display: block;
}

.card-detail-date {
  font-size: .875rem;
  margin-bottom: .25rem;
}

.card-detail-copyright {
  font-size: .75rem;
  color: var(--lightTextColor);
}

.apod-like-container {
  margin-top: 1rem;
  text-align: right;
}

.apod-liked svg{
  fill: red;
  animation: liked .3s ease-in-out forwards;
}

@keyframes liked {
  0% {
    transform: scale(1.0);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1.0);
  }
}

