.navbar-container {
  height: var(--navHeight);
  background-color: var(--navColor);
  border-bottom: 1px solid var(--focusColor);
  position: relative;
  z-index: 2;
}

.desktop-navbar {
  display: none;
}

.desktop-datepicker {
  display: none;
}

.mobile-navbar {
  max-width: 90%;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.mobile-logo {
  width: 3rem;
}

.mobile-menu-btn {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.mobile-menu-btn img {
  width: 2rem;
}

@media screen and (min-width: 1025px) {
  .mobile-navbar {
    display: none;
  }

  .desktop-navbar {
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .desktop-logo {
    width: 3rem;
  }

  .desktop-navbar ul {
    display: flex;
    color: var(--highlightColor);
    font-size: 1.25rem;
    gap: 1.25em;
  }



  .desktop-navbar ul li div {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

}