.desktop-datepicker {
  display: none;
}

@media screen and (min-width: 1025px) {
  .desktop-datepicker {
    display: flex;
    position: absolute;
    top: var(--navHeight);
    left: 0;
    width: 100%;
    height: 30vh;
    background-color: var(--navColor);
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    gap: 2rem;
    transition: all ease-in-out 0.2s;
  }
  
  .hide-desktop-datepicker {
    transform: translateY(calc(-100% - var(--navHeight)));
    transition: all ease-in-out 0.2s;
  }
  
  .desktop-close {
    width: 2rem;
    cursor: pointer;
    align-self: flex-start;
  }
}

