.mobile-sidebar-container {
  position: absolute;
  top: var(--navHeight);
  left: 0;
  background-color: rgb(21 31 56 / 75%);
  width: 100%;
  height: calc(100vh - var(--navHeight));
  transition: all ease-in-out 0.2s;
  z-index: 2;
  display: flex;
}

.mobile-sidebar-container div {
  flex: 1 1 0;
}

.mobile-sidebar {
  min-width: 200px;
  max-width: 35%;
  background-color: var(--navColor);
  height: 100%;
}

.mobile-sidebar-disable {
  transform: translateX(-100%);
  transition: all ease-in-out 0.2s;
}

.mobile-sidebar ul {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 1em;
  color: white;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
}


.mobile-sidebar ul li div {
  display: flex;
  align-items: center;
}

.mobile-close-sidebar {
  width: 100%;
}

@media screen and (min-width: 1025px) {
  .mobile-sidebar-container {
    display: none;
  }
}